<div class="container  comment-section" style="overflow-y: auto; padding-left: 40px;">

<% commentable.comments.order('created_at desc').each do |comment| %>
<p></p>

<div id="<%= "#{dom_id(comment)}_item" %>">

    <div class=" rounded">
      <div class="shadow-lg rounded" style="background-color: #998e8e">
        <div class="row" id="comments">
          <div class="col-1">
            <%= image_tag comment.user.avatar.variant(resize_to_limit: [50, 50]) if comment.user.avatar.attached?%>
          </div>
          <div class="col">
            <div class="row" id="comments" style="height: 20px">
              <p>
                <strong><%= comment.user.first_name %></strong>
                : <%= comment.comment_body %>
              </p>
            </div>
            <div class="row d-flex" id="comments">

              <div class="">
                <strong><%= comment.comments.count %> : Reply </strong>
                  <% if  comment.user.id == @current_user.id %>
                    <% if commentable.class.name == 'Blog' %>
                      <%= button_to 'Delete Comment',[commentable , comment ], remote: true, turbo: false, method: :delete, class: "btn btn-primary btn-sm" %>
                    <% else %>
                      <%= button_to 'Delete Comment',[@blog, commentable , comment ], remote: true, turbo: false, method: :delete, class: "btn btn-primary btn-sm" %>
                    <% end %>
                  <% end %>
              </div>
            </div>
            <div class="comment_reply" id = "comment_replys">
               <%= render :partial=>"blogs/new_comment", locals: { commentable: comment, form_of: 'comment'} %>
            </div>
          </div>
        </div>

        <% if comment.comments.present? %>
          <div class="" style="padding-left: 20px; padding-top: 7px;">
            <%= render :partial=>"blogs/show_comment", locals: {commentable: comment} %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
</div>